body {
    font-family: Fantasy, Helvetica, sans-serif;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0; /* Light grey */
}
form {
    font-family: Consolas, sans-serif;
    display: flex;
    flex-direction: column;
}
textarea, button {
    margin: 10px 0;
}
#response {
    white-space: pre-wrap;
    font-family: courier, sans-serif;
    font: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}
